@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
:root {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #E0DEDA;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-scroll-snap-strictness: proximity;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #E0DEDA;
}

html {
  line-height: 1.5;
  font-family: 'system-ui';
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
}

body {
  margin: 0;
  line-height: inherit;
}

button, input, optgroup, select, textarea {
  font-family: system-ui; 
  font-size: 100%;
  line-height: inherit;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

/* rotation for reset button - metrics page */
.rotate {
  transition: transform 1s;
  transform: rotate(360deg);
}

/* Disable focus outline for all focusable elements */
*:focus {
  outline: none;
}

/* Prevent text selection for all elements */
* {
  user-select: none;
}


 .resizer {
  position: absolute;
  top: 20%;
  left: 90%;
  width: 2px;
  height: 40%;
  background-color: black;
  cursor: col-resize;
  z-index: 20;
}


